@mixin underline-effect($color: white, $height: 2px, $offset: -5px, $duration: 0.6s) {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: $offset;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        width: 100%;
        height: $height;
        background-color: $color;
        transition: transform $duration ease-in-out;
    }

    &:hover::after {
        transform: translateX(-50%) scaleX(1);
    }
}


@mixin button-style($bg-color: black,
    $text-color: white,
    $hover-bg: #ff9f7f,

    $border-radius: 4px,
    $padding: 0.8rem 1.5rem,
    $font-size: 1rem,
    $border: 1px solid rgba(22, 2, 2, 0.5)) {
    position: relative;
    background-color: $bg-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $border;
    font-size: $font-size;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease, transform 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: linear-gradient(135deg, #2c3e50, #a3c1d1);
        transition: width 0.5s ease-in-out;
        z-index: -1;
    }

    &:hover {
        color: black;
        transform: translateY(-1px);
        border-color: white;
        background-color: $hover-bg;
    }

    &:hover::before {
        width: 100%;
    }

    &:active {
        transform: translateY(0);
    }

    &:focus {
        outline: none;
    }
}


@mixin arrival {
    animation: fadeIn 1s ease-in-out forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(15px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


.arrival {
    @include arrival;
    opacity: 0;
}