@import "../../styles/utils/mixins";


.headerContainer {
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    &__title {
        display: flex;
        justify-content: center;
        position: relative;
        display: inline-block;
        @include underline-effect(black, 2px, -5px, 0.6s);
    }

    &.header-large {
        height: 100vh;

    }

    &.header-small {
        height: 60vh;

    }


    h1 {
        color: $secondary-color;
        font-family: $primary-font;
        font-size: 3rem;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        width: 100%;
        text-align: center;
        padding: 0 20px;
        margin-bottom: 0;
    }

    @media (max-width: 1024px) {
        &.header-large {
            height: 100vh;
        }

        &.header-small {
            height: 50vh;
        }

        h1 {
            font-size: 2.5rem;
        }

        &__title {
            @include underline-effect(black, 2px, -5px, 0.5s);
        }
    }

    @media (max-width: 768px) {
        &.header-large {
            height: 100vh;
        }

        &.header-small {
            height: 40vh;
        }

        h1 {
            font-size: 2rem;
        }

        &__title {
            @include underline-effect(black, 2px, -5px, 0.4s);
        }
    }

    @media (max-width: 480px) {
        &.header-large {
            height: 100vh;
        }

        &.header-small {
            height: 35vh;
        }

        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 1.5rem;
        }

        &__title {
            @include underline-effect(black, 2px, -5px, 0.3s);
        }
    }
}