

* {
  text-decoration: none;
  font-family:Poppins, sans-serif;
  
}

form {
  display:flex;
  justify-content: center;
  color:#e6b367;
  
}

h1 {
  color: #e6b367;
}
li {
  list-style-type: none;
}

p {
  color:#2c3e50;
}

.headerContainer {
  background: linear-gradient(45deg, var(--secondary-color-start), var(--secondary-color-end));
  color: var(--background-color);
}


.headerContainer__title {
  display: flex;
  justify-content: center;
}


button {
  border-radius:25px;
  color: #ccc;
  background-color: black;;
}

button:hover {
  background-color: darken(var(--accent-color), 10%);
}

.collectionsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  padding-top:50px;
}


.collectioncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
  padding: 0 20px;

}


.collectionitem {
  width: 350px;
  background-color:#ffffff;
  transition: transform 0.3s ease;
}


.collectionitem:hover {
  transform: scale(1.2); 
}


.itemcover {
  width:350px;
  height: 350px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.pagination {
  display:flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
